* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
*::before,
*::after{
    box-sizing: border-box;
}
html {
    margin: 0;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    position: relative;
    background-color: var(--color-bkg);
}
button, p, h1, h2, h3, h4, h5, h6, ul, li{
    margin: 0;
    height: auto;
}
main{
    position: relative;
}
h1{
    font-family: var(--font-family-konkhmer-sleokchher);
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
    color: var(--color-title);
    line-height: var(--line-height-h1);
    white-space: nowrap;
    word-spacing: var(--word-spacing-h1);
}
h2{
    font-family: var(--font-family-konkhmer-sleokchher);
    font-weight: var(--font-weight-h2);
    font-size: var(--font-size-h2);
    color: var(--color-title);
}
h3{
    font-family: var(--font-family-montserrat);
    font-weight: var(--font-weight-h3);
    font-size: var(--font-size-h3);
    color: var(--color-text);
}
p{
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-p);
    font-size: var(--font-size-p);
    color: var(--color-text);
    line-height: var(--line-height-p);
}
a{
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-p);
    font-size: var(--font-size-p);
    color: var(--color-text);
    text-decoration: underline;
    cursor: pointer;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
section{
    position: relative;
    padding-inline: var(--padding-inline-page);
}
section:not(.hero){
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
    padding-block: var(--padding-block-section);
}
img.poster{
    width: var(--w-poster);
    height: var(--h-poster);
    position: sticky;
    top: 7%;
    border-radius: var(--border-radius);
}
@media (max-width: 768px){
    html,body{
        overflow-x: hidden;
    }
    h2{
        line-height: 1.3;
    }
}
p.caption{
    font-size: var(--font-size-p-caption);
}

.cta-container{
    background-color: var(--color-cta-bkg);
    border-radius: var(--border-radius);
    padding: var(--padding-cta);
}
.cta-content > p{
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-cta);
    font-weight: var(--font-weight-cta);
}
.cta-content > img{
    width: var(--font-size-cta);
}


.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-title);
}
.title-container svg{
    width: calc(var(--font-size-h2) * 0.65);
}
@media (max-width: 768px){
    /* .title-container{
        flex-direction: column;
        align-items: flex-start;
    } */
}
/*
    * BUTTONS
*/


/*
    * DESCRIPTIONS
*/
.faded-description{
    display: flex;
    flex-direction: column;
    gap: var(--gap-general);
}
.faded-description p{
    color: var(--color-faded-text);
}

/*
    * SOCIALS
*/
.socials-container{
    display: flex;
    align-items: center;
    gap: var(--gap-content);
}
.logo{
    width: var(--w-hero-logo);
}

/*
    * TRANSITIONS
*/
.fade-enter-active,
.fade-leave-active {
    transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}



/*
    * GENERAL CLASSES
*/
.flex-row{
    display: flex;
    gap: var(--gap-content);
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: var(--gap-content);
}

/*
    * DYNAMIC CLASSES
*/
.upside-down{
    transform: rotate(180deg);
}

:root{
    /* 
        * 
        * COLORS
        *
    */
    --color-bkg: #131313;
    --color-bkg-2: #090a1f;
    --color-bkg-nav: #252525;
    --color-bkg-linear-gradient-1: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(9,10,31,1) 100%);
    --color-bkg-linear-gradient-2: linear-gradient(180deg,rgba(9, 10, 31, 1) 0%, rgba(19, 19, 19, 1) 100%);
    --color-cta: #514099;
    --color-cta-bkg: #514099;
    --color-text: #ffffff;
    --color-faded-text: #a8a8a8;
    --color-title: #6CC49B;
    --color-img-modal: rgba(19, 19, 19, 0.8);


    /* 
        * 
        * GAPS
        *
    */
    --gap-general: clamp(0.5rem, 0.5vw, 1.2rem); 
    --gap-content: clamp(1.5rem, 2vw, 3rem);
    --gap-section: clamp(3.125rem, 5vw, 6.5rem);
    --gap-nav-content: clamp(0.3rem, 3vw, 4rem); 
    --gap-title: clamp(1rem, 3vw, 3rem);
    /* 
        * 
        * PADDINGS
        *
    */
    --padding-inline-page: clamp(1rem, 3vw, 30rem);
    --padding-inline-marquee: clamp(1rem, 3vw, 30rem);
    --padding-block-general: clamp(1rem, 1vw, 2rem);
    --padding-block-section: clamp(5.5rem, 10vw, 7.5rem);
    /* For SECTIONS that have abs h2 titles */ 
    --padding-top-section: calc((var(--padding-block-section) * 2) + var(--font-size-h2));
    --padding-section-title: 
        var(--padding-block-section)
        var(--padding-inline-page)
        0
        var(--padding-inline-page)
    ;
    --padding-general: 
        clamp(0.5rem, 0.8vw, 2rem)
        clamp(0.5rem, 0.8vw, 2rem)
        clamp(0.5rem, 0.8vw, 2rem)
        clamp(0.5rem, 0.8vw, 2rem)
    ;
    --padding-nav:
        clamp(0.4rem, 0.3vw, 0.85rem)
        var(--padding-inline-page)
        clamp(0.4rem, 0.3vw, 0.85rem)
        var(--padding-inline-page)
    ;
    --padding-footer: 
        var(--padding-block-general)
        var(--padding-inline-page)
        var(--padding-block-general)
        var(--padding-inline-page)
    ;
    --padding-cta: 
        clamp(0.7rem, 0.8vw, 2rem)
        clamp(0.7rem, 1vw, 2.2rem)
        clamp(0.7rem, 0.8vw, 2rem)
        clamp(0.7rem, 1vw, 2.2rem)
    ;
    /* 
        * BORDERS
    */
    --border-radius: clamp(1rem, 2vw, 2rem);
    --border-radius-circle: 50%;
    --border-bottom-past-events: 1px solid var(--color-text);

    /* 
        * WIDTHS
    */
    --w-hero-logo: clamp(11rem, 20vw, 21.8rem);
    --w-nav-logo: clamp(3rem, 1.7vw, 5rem);
    --w-nav-logo-mobile: clamp(3rem, 20vw, 5rem);
    --w-nav-icon: clamp(1.5rem, 1.5vw, 4.5rem);
    --w-nav-icon-mobile: clamp(1rem, 10vw, 3rem);
    --w-footer-logo: clamp(11rem, 25vw, 23rem);
    --w-poster: clamp(10rem, 40vw, 50rem);
    --w-portrait: clamp(10rem, 35vw, 40rem);
    --w-past-event: clamp(10rem, 20vw, 30rem);
    --w-past-event-preview: clamp(5rem, 10vw, 20rem);
    --w-event-description: clamp(21.8rem, 50vw, 100rem);
    --w-music-description: clamp(22rem, 70vw, 100rem);
    --w-cta-circle: clamp(2.2rem, 4vw, 6.25rem);
    --w-cta-arrow: clamp(2rem, 2.5vw, 6.25rem);
    /* 
        * HEIGHTS
    */
    --h-past-event-poster: clamp(5rem, 20vw, 25rem);
    /* --h-poster: clamp(5rem, 40vw, 25rem); */
    --h-poster: fit-content;
    /* 
        * 
        * LINE HEIGHT
        *
    */
    --line-height-h1: 1;
    --line-height-p: 1.8;
    --line-height-cta: 1;
    --line-height-music: 0.8;
    /* 
        * WORD SPACING
    */
    --word-spacing-h1: clamp(0.5rem, 1vw, 1.7rem); 
    
    /* 
        * TRANSITIONS
    */
    --transition-all-03-ease: all 0.3s ease; 

    /* 
        * FONT SIZES
    */
    --font-size-h1: clamp(3.5rem, 6vw, 10rem);
    --font-size-h2: clamp(3rem, 5vw, 8rem);
    --font-size-h3: clamp(3rem, 4vw, 7rem);
    --font-size-h4: clamp(2rem, 3.1vw, 6rem);
    --font-size-h5: clamp(1.2rem, 2.8vw, 5rem);
    --font-size-p: clamp(1rem, 1.5vw, 2.18rem);
    --font-size-p-caption: clamp(1rem, 1vw, 1.5rem);
    --font-size-past-event-name: clamp(1.2rem, 2vw, 4rem);
    --font-size-cta: clamp(1.2rem, 1.3vw, 4rem);
    --font-size-nav: clamp(1.2rem, 1.3vw, 4rem);
    --font-size-bkg-title: clamp(3.5rem, 10vw, 8rem);
    --font-size-music: clamp(3rem, 10vw, 15rem);
    --font-size-footer-h: clamp(1.8rem, 5vw, 10rem);
    --font-size-footer-copyright: clamp(0.8rem, 0.8w, 1.8rem);

    /* 
        * FONT WEIGHT
    */
    --font-weight-h1: 600;
    --font-weight-h2: 400;
    --font-weight-h3: 500;
    --font-weight-footer-h: 300;
    --font-weight-nav: 500;
    --font-weight-cta: 500;

    /* 
        * FONT FAMILY
    */
    --font-family-konkhmer-sleokchher: "Konkhmer Sleokchher", san-serif; 
    --font-family-montserrat: "Montserrat", san-serif;
    --font-family-roboto: "Roboto", san-serif;
}